In [2]:
#Organizing the list datatypes

In [3]:
cars = ['maruthi','honda','audi','toyota','bmw','suzuki','benz']
print(cars)

['maruthi', 'honda', 'audi', 'toyota', 'bmw', 'suzuki', 'benz']

In [6]:
type(cars)

list

In [8]:
#To organize list into alphabetical order
#2 approaches
#1.temp approach , 2.permanent approach

In [11]:
#1.temp approach -----> sorted
print(sorted(cars))

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'suzuki', 'toyota']

In [12]:
print(cars)

['maruthi', 'honda', 'audi', 'toyota', 'bmw', 'suzuki', 'benz']

In [15]:
#Permanent approach
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'suzuki', 'toyota']

In [17]:
# To know the number of elements in list
len(cars)

7

In [18]:
# To print the list in reverse order
cars.reverse()
print(cars)

['toyota', 'suzuki', 'maruthi', 'honda', 'bmw', 'benz', 'audi']

In [19]:
# Introduction to Slicing of Lists

In [20]:
#General syntax : variable[startvalue:stopvalue:stepcount]
# Note : 1.Last value is exclusive
#        2.We have to increment the number by one

In [21]:
Mystudents = ('keerthana','priyanka','deepak','rahul','kubra','ayesha0','imran','naveed','rishika','shivani')
print(Mystudents)

('keerthana', 'priyanka', 'deepak', 'rahul', 'kubra', 'ayesha0', 'imran', 'naveed', 'rishika', 'shivani')

In [22]:
print(Mystudents[0:2])

('keerthana', 'priyanka')

In [23]:
print(Mystudents[2:4])

('deepak', 'rahul')

In [24]:
print(Mystudents[8:10])    #10th elemment is not present but we can use in slicing

('rishika', 'shivani')

In [25]:
#Stepcount
print(Mystudents[0:10:2])

('keerthana', 'deepak', 'kubra', 'imran', 'rishika')